.content {
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    font-family: var(--secondaryFont);
    font-size: 36px;
    font-weight: bold;
    color: var(--primaryTextColor);
}

.info {
    display: flex;
    justify-content: center;
    margin: 10px;
}

select {
    font-family: var(--secondaryFont);
    font-size: 18px;
    padding: 10px;
}

.editButton {
    font-family: var(--secondaryFont);
    color: white;
    font-size: 15px;
    background-color: var(--primaryTextColor);
    border: 0px;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

.editButton:hover {
    font-family: var(--secondaryFont);
    color: white;
    font-size: 15px;
    background-color: #5c0000;
    border: 0px;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

.error {
    font-family: var(--secondaryFont);
    color: var(--primaryTextColor);
}