.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.details {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.image {
    width: 300px;
    margin-right: 20px;
}

.info {
    display: flex;
    flex-direction: column;
}

.iconText {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.description {
    width: 50%;
    margin-bottom: 20px;
}

.centerButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

.button {
    width: 30%;
    font-family: var(--primaryFont);
    font-size: 18px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px;
}